@use "sass:list";
@use "sass:math";
// This class will be stored in npm cache - run npm cache clear --force for every change made to this file
.svg-background {
  width: 100%;
  height: 100%;
  --amount: 100;
}

$animationDuration: 3s;
$amount: 6;
$particleRadius: 3vmin; // size of loader circle

.svg-background span {
  width: $particleRadius * 1;
  height: $particleRadius * 2;
  border-radius: $particleRadius;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 0.8);
  animation-iteration-count: infinite;
  animation-duration: $animationDuration;
  top: calc(50% - #{$particleRadius});
  left: 50%;
  transform-origin: ($particleRadius*-1) center;

  $colors: (
    #19608f,
    #02bfff,
    #7db7cc,
  );

  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      background: list.nth($colors, math.random(list.length($colors)));
      animation-delay: calc($i/$amount) * $animationDuration * -1;
      opacity: 0;
    }
  }
}

@keyframes move {
  0% {
    transform: scale(1) rotate(0deg) translate3d(0, 0, 1px);
  }

  30% {
    opacity: 1;
  }

  100% {
    z-index: 10;
    transform: scale(0) rotate(360deg) translate3d(0, 0, 1px);
  }
}
